/*Soft reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: repeating-linear-gradient(to bottom,#cf2b4f,teal 130%);
    background-size: auto 100vh;
    font-size: 12px;
    height: 100vh;
    
}

@media (min-width:400px){
    body{
        font-size: 14px;
        
    }
}
@media (min-width:600px){
    body{
        font-size: 16px;
       
    }
}
@media (min-width:1200px){
    body{
        font-size: 22px;
         
    }
}
header{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu',sans-serif;
}
.menu{
    background-color: white;
    position: fixed;
    width:100vw;
    top:0;
    z-index: 1;
     
}
.menu ul{
    display:flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    transition: transform 500ms; 
}
.menu a{
    display: block;
    padding: 10px 20px;
    
}
a {
    text-decoration: none;
    color: crimson;
    
}
a:hover{
    transform: scale(1.4);
}
a:active{
    color:whitesmoke;
    background-color:#cf2b4f;
    transform: scale(1.1);
}

.titles{
    animation: ease-in 2s introTitle forwards;
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
}
@keyframes introTitle{
    100%{
        transform: scale(1) translateY(0vh);
        opacity: 1;
    }
}

.site-subtitle, .site-title{
    color:whitesmoke;
    text-align: center;
}
.site-title{
    font-size: 4em;
    font-family: 'Balsamiq Sans', cursive;
}
.site-subtitle{
    font-style: italic;
    line-height: 1.8;
}
.about,
.contato,
.portfolio{
    padding: 2em;
    min-height: 100vh;
}

.container{
    margin:0 auto;
}

@media(min-width:1200px){
    .container,
    .about,
    .contato,
    .portfolio{
        max-width: 1200px; 
        margin:0 auto;
    }
}




.about h2,
.contato h2,
.portfolio h2{
    color:whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.about .avatar{
    float:left;
    margin-right: 1.3em;
    margin-bottom: 1.2em;
    
}
.avatar img{
    /* border-radius: 55%; */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}

.about p{
    color:whitesmoke;
    text-indent: 1.4em;
    margin-bottom:1.4em;
    text-align: justify;
}


.portfolio .grid{
    display:grid;
    gap: 2em;
    
}

@media (min-width:560px){
    .portfolio .grid{
        grid-template-columns: 250px 250px;
    }
    /* .img-portfolio:hover{
        transform:scale(1.4) rotate(8deg);
    } */
}

@media (min-width: 800px){
    .portfolio .grid{
        grid-template-columns: repeat(3,250px);
        align-content: center;
        justify-content: center;
    }
}

.portfolio figure{
    text-align: center;
}
.img-portfolio{
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 500ms;
}

.flip-card{
    perspective: 300px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition:transform 1s;
    
}

.card:hover{
    transform: scale(1.2) rotateY(180deg);
    
}
.card-back{
    background-color:pink;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    padding-top:40%;
    padding-left: 3%;
    transform: rotateY(180deg);
    
}

.card-front,
.card-back{
    position: absolute;
    backface-visibility: hidden;
}

.contato .icons{
    text-align: center;
    
}
.contato a{
    color:whitesmoke;
    font-size: 4em;
    
}
 .contato a:hover{
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255,255,255,.5);   
} 


.up{
    position:fixed;
    bottom: 15px;
    right: 5px;
    font-size: 2em;
    color:whitesmoke;
    
}
.up a{
    color:whitesmoke;
    transition: transform 500ms;

}
.up a:hover{
    transform: scale(1.4) rotate(8deg);
    text-shadow: 0 0 10px rgba(255,255,255,.5);   
}
